body {
  background: url('/images/loginPage/plane-170272.jpg') no-repeat center center / cover;
  background-color: bisque;
  width: 100%;
  heigh: 100%;
}
#a1{
    background-color: rgba(193, 199, 227, 0.5);
  }
  #strength-indicator {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
  }
  #confirm-indicator{
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .Weak {
    color: red;
  }
  
  .Medium {
    color: orange;
  }
  
  .Strong {
    color: green;
  }
.b1 {
    transition: all 0.5s ease-in-out;
}

.b2 {
    opacity: 1;
}

.b3 {
    opacity: 0;
}